__pycache__/
*.pyc
*.xlsx
!requirements.txt

# Keep input/output folders but ignore data files inside them
assessment_tracker/input/*
!assessment_tracker/input/README.txt
assessment_tracker/output/*
!assessment_tracker/output/README.txt
